* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}


/* <------Nav bar START------> */

nav {
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(0, 0, 0, 0.783);
}

nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 18px;
    font-size: 13px;
    /* opacity: 80%; */
}

nav ul :nth-child(3) {
    opacity: 60%;

}

nav ul :nth-child(2) {
    margin-right: 10px;
}

.logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: grey;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 20px;
}

/* <------Nav bar END------> */


/* <------main-section START------> */

main .google-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: green; */
    padding-bottom: 15px;
}

main .google-logo img {
    width: 17rem;
}

main .search-box {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    flex-wrap: nowrap;

}

.search-box .search {
    min-height: 50px;
}

.search-box .input-container {
    height: 50px;
    width: 36.0rem;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px;
    /* padding-right: 0%; */
    border:  1px solid rgba(0, 0, 0, 0.150);
    border-top:  2px solid rgba(0, 0, 0, 0.150);
    border-bottom:  2px solid rgba(0, 0, 0, 0.150);

    margin: 0px 20px;
}
.input-container:focus-within {
    box-shadow: 0.5px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top:  1px solid rgba(0, 0, 0, 0.150);
}
.input-container:hover{
    box-shadow: 0.5px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top:  1px solid rgba(0, 0, 0, 0.150);

}

.input-container .magnify {
    display: flex;
    /* background-color: gray; */
    border-right: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    opacity: 50%;
}

.magnify img {
    height: 20px;

}

.input-container .input {
    /* min-width: 28.125rem;  */
    min-width: 82%; 

    &:focus{
        outline: none;

    }
    overflow-x:hidden;
    overflow-y: auto;
    word-wrap: break-word;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 12px;

}



.input-container .voice {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 2% 3%;
    padding-right: 1%;
}
.input-container .voice img{

    height: 1.6rem;
}

.input-container .lens {
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 2%;
    padding-left: 1%;


}
.input-container .lens img {    
    height: 1.6rem;

}



/* <------main-section END------> */

/* <------footer-section START ------> */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;

}

footer .country {
    height: 45px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 15px;
}

footer .country p {
    opacity: 80%;
}

footer .utilities {
    width: 100%;
    min-height: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.100);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 100px; */
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 14px;
    opacity: 80%;

}

footer .utilities .sec {
    min-height: 30px;
    /* background-color: red; */
    display: flex;
    align-items: center;

}

.sec ul {
    display: flex;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 15px 0px;

}

.sec1 ul {
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    cursor: pointer;
}

/* <------footer-section END------> */